{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-image: url('{% static "images/view_job.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; 
        height: 100vh;
    }
    h1.title, label.label, input[type="text"], input[type="password"],p.is-size-4, p ,b{
        color: white;
    }
</style>
    <h1 class="title">{{ job.title }} ({{ job.get_status_display }})</h1>

    <p class="is-size-4">{{ job.short_description }}</p>
    <br>

    <p>{{ job.long_description }}</p>
    <br>
    <b>Company name: {{ job.company_name}}</b><br>
    {% if job.company_address %}<b>Company address: {{ job.company_address}}</b><br>{% endif %}
    {% if job.company_zipcode %}<b>Company zipcode: {{ job.company_zipcode}}</b><br>{% endif %}
    {% if job.company_place %}<b>Company place: {{ job.company_place}}</b><br>{% endif %}
    {% if job.company_country %}<b>Company country: {{ job.company_country}}</b><br>{% endif %}
    <b>Company size: {{ job.get_company_size_display }}</b><br>

    <hr>
    <!-- for employer-->
    {% if request.user.userprofile.is_employer %}
        {% if job.status == 'active' %}
            <a href="{% url 'edit_job' job.id %}" class="button is-success">Edit job</a>
        {% else %}
            <p>This job is not available anymore!</p>
        {% endif %}
    {% else %}
    <!-- for jobseeker-->
        {% if job.status == 'active' %}
            <a href="{% url 'apply_for_job' job.id %}" class="button is-success">Apply for job</a>
        {% else %}
            <p>This job is not available anymore!</p>
        {% endif %}
    {% endif %}
{% endblock %}